* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.console {
    background-color: rgba(116, 0 ,199, 75%);
    border-radius: 10%;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.statuses {
    color: black;
    opacity: 88%;
    list-style: none;
    right: 90.5vw;
    top: 9vh;
    position: absolute;
    line-height: 3vh;
}

.middle {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.center {
    align-self: center;
    border: none;
    background-color: transparent;
    margin-top: 1vh;
    width: 0; 
    height: 0; 
    border-top: 5vh solid black;
    border-left: 5vh solid transparent; 
    border-right: 5vh solid transparent; 
    z-index: 11;
}

.center:hover {
    cursor: pointer;
}

.window {
    margin-top: 2%;
    background-color: blanchedalmond;
    width: 80vw;
    height: 100%;
    display: flex;
    justify-content: center;
    clear: none;
    overflow: hidden;
    margin-bottom: -50%;
}

.left{
    border: none;
    background-color: transparent;
    margin-right: 2%;
    margin-top: 4%;
    align-self: center;
    width: 0; 
    height: 0; 
    border-top: 10vh solid transparent;
    border-bottom: 10vh solid transparent; 
    border-right: 10vh solid black; 
    z-index: 9;
}

.left:hover {
    cursor: pointer;
}

.right{
    background-color: transparent;
    border: none;
    margin-left: 2%;
    margin-top: 4%;
    align-self: center;
    width: 0; 
    height: 0;
    border-top: 10vh solid transparent;
    border-bottom: 10vh solid transparent;
    border-left: 10vh solid black;
    z-index: 9;
}

.right:hover {
    cursor: pointer;
}

.interact {
    position: relative;
    border: none;
    background-color: black;
    border-radius: 20%;
    align-self: center;
    margin-top: 5%;
    margin-bottom: 1%;
    width: 60%;
    height: 10vh;
    color: white;
    font-size: 25px;
}

.interact:hover {
    cursor: pointer;
}

.egg {
    position: absolute;
    align-self: flex-end;
    height: 30%;
    z-index: 10;
}

.agumon {
    position: absolute;
    align-self: flex-end;
    height: 25%;
    z-index: 10;
    visibility: hidden;
}

.koromon {
    position: absolute;
    align-self: flex-end;
    height: 20%;
    z-index: 10;
    visibility: hidden;
}

.greymon {
    position: absolute;
    align-self: flex-end;
    height: 50%;
    z-index: 10;
    visibility: hidden;
}

.rooms {
    position: relative;
}

.start {
    position: absolute;
    z-index: 5;
    display: none;
}

.bedroom {
    min-width: 100%;
}

.livingroom {
    min-width: 100%;
}

.kitchen {
    min-width: 100%;
}

.hunger{
    position: absolute;
    left: 10vw;
    top: 15vh;
}

.sleep {
    position: absolute;
    left: 10vw;
    top: 18vh;
}

.boredom {
    position: absolute;
    left: 10vw;
    top: 12vh;
}