* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.console {
    background-color: aqua;
    border-radius: 10%;
    width: 100vw;
    height: 100vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
}

.middle {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.window {
    margin-top: 2%;
    background-color: blanchedalmond;
    width: 80vw;
    height: 100%;
    display: flex;
    justify-content: center;
}

.left{
    border: none;
    background-color: aqua;
    margin-right: 2%;
    margin-top: 4%;
    align-self: center;
    width: 0; 
    height: 0; 
    border-top: 5vh solid aqua;
    border-bottom: 5vh solid aqua; 
    border-right: 5vh solid black; 
}
.right{
    background-color: aqua;
    border: none;
    margin-left: 2%;
    margin-top: 4%;
    align-self: center;
    width: 0; 
    height: 0;
    border-top: 5vh solid aqua;
    border-bottom: 5vh solid aqua;
    border-left: 5vh solid black;
}
.interact {
    border: none;
    background-color: black;
    border-radius: 20%;
    align-self: center;
    margin-top: 5%;
    margin-bottom: 1%;
    width: 60%;
    height: 10%;
}

.egg {
    position: absolute;
    align-self: flex-end;
    height: 50%;
}
.agumon {
    position: absolute;
    align-self: flex-end;
    height: 25%;
    visibility: hidden;
}
.koromon {
    position: absolute;
    align-self: flex-end;
    height: 20%;
    visibility: hidden;
}
.greymon {
    position: absolute;
    align-self: flex-end;
    height: 50%;
    visibility: hidden;
}